---
layout: default
---

<main class="shows">
  <header>
    <div class="outer-container">
      <h1><span>Shows</span></h1>
    </div>
  </header>

  <div id="upcoming-shows" class="content">
    <p>Looking up shows...</p>
  </div>

  <script id="show-template" type="text/template">    
    <div class="date">
      <span class="month"><%= month %></span>
      <span class="date-num"><%= dateNum %></span>
      <span class="day-name"><%= dayName %></span>
      <div class="lines"></div>
    </div>

    <div class="show-info">
      <h2><%= title %></h2>
      <p class="secondary-info">
        <strong><%= time %></strong> | <%= cost %></br>
        <a href="https://www.google.com/maps/place/<%= address %>"><%= location %></a>
      </p>
      <p><%= description %></p>
    </div>
  </script>
</main>
